[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

xcffib = ">=0.5.0"
cffi = "*"
cairocffi = "*"
qtile = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
codecov = "*"
pylint = "*"
xvfbwrapper = "*"
