[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cffi = "*"
xcffib = "*"
cairocffi = "*"
qtile = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
codecov = "*"
pylint = "*"
